h1 {
    color: lightskyblue;
}

#roman {
    list-style-type: upper-roman;
}

body {
    text-align: center;
    background-image: url(https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif);
    color: white;
}

a {
    color: indianred;
}

#main {
    margin-top: 150px;
}



